.bellsImg {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.icon svg {
  height: 25px;
  width: 25px;
}

.tagColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
}

.tag {
  text-align: center;
}

.isInactive {
  color: grey;
  opacity: 0.5;
}

.separator {
  border: none;
  background-color: grey;
  opacity: 0.2;
  width: 75%;
  height: 1px;
  margin: 20px auto 10px auto;
}